body {
    /*background: linear-gradient(45deg,#fed330, #fd9644);*/
    text-align: center;
    letter-spacing: 1px;
    background-image: url('https://media1.popsugar-assets.com/files/thumbor/bzZIujvmK6EiajFntYJeDoqMbvI/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/04/08/956/n/1922507/5b76eee404090c1b_The_Simpsons/i/Simpsons-Zoom-Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    background-color: #ffffffc4;
    border: 3px solid #ffffff71;
}

div {
    max-width: 500px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    padding: 0 15px;
}

.perfil {
    border-radius: 400px;
    width: 180px;
    height: 180px;
    display: block;
    margin: 20px auto;  
    transition: all 500ms ease;
}

h2 {
    color: rgb(92, 92, 92);
    font-size: 20px;
}

p {
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 600;
}

.link {
    display: block;
    text-decoration: none;
    background-color: #26de81;
    max-width: 400px;
    margin: 20px auto;
    color: white;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 17px;
    transition: all 500ms ease;
}

.link:hover {
    background-color: #20bf6b;
}

.footer {
    margin: 15px 0;
}

.redes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.redes {
    display: inline-block;
    max-width: 50px;
    margin: 0 10px;
}
